.m-popup {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.18);
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        @media screen and (max-width: 767px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 44px 31px 35px 31px;
    position: relative;
    max-width:  430px;
    width: 100%;
    display: none;
    @media screen and (max-width: 767px) {
        padding: 20px;
    }
    &.active {
        display: flex;
        flex-direction: column;
    }
    &__close {
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 12px;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            top: 10px;
            right: 10px;
        }
        img {
            transition: 0.2s;
        }
        &:hover {
            img {
                transform: rotate(90deg);
            }
        }
    }
    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 34px;
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
    &__field {
        margin-bottom: 17px;
        &-title {
            margin-bottom: 8px;
            font-weight: bold;
            font-size: 14px;
            line-height: 13px;
            color: #000000;
        }
        input {
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 3px;
            height: 45px;
            width: 100%;
            padding-left: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 13px;
            color: #000000;
            &.error {
                border-color: red !important;
            }
        }
    }
    &__timer {
        font-weight: normal;
        font-size: 13px;
        line-height: 12px;
        color: #868686;
        margin-bottom: 18px;
    }
    &__field-cont {
        position: relative;
        a {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            font-size: 14px;
            line-height: 13px;
            color: #0DB14B;
            right: 15px;
            text-decoration: underline;
        }
    }
    &__forgot-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }
    &__forgot {
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        color: #F77D0C;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &__button {
        background: #51AD56;
        border-radius: 3px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        color: #FFFFFF;
        transition: 0.2s;
        margin-bottom: 14px;
        cursor: pointer;
        width: 100%;
        &:hover {
            background: #459649;
        }
    }
    &__button-sms {
        background: #F77D0C;
        border-radius: 3px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        color: #FFFFFF;
        transition: 0.2s;
        cursor: pointer;
        width: 100%;
        &:hover {
            background: #da6f0c;
        }
    }
    &__bottom-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 13px;
        color: #000000;
        margin-top: 32px;
        a {
            color: #0DB14B;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__sms-code {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 3px;
        input {
            width: 49px;
            height: 45px;
            border: none;
            font-size: 22px;
        }
    }
}


.m-cookie {
    position: fixed;
    bottom: 0;
    left: 15%;
    background-color: #fff;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    padding: 36px 36px 46px 36px;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    max-width: 500px;
    &__close {
        position: absolute;
        top: -17px;
        right: 25px;
        cursor: pointer;
        img {
            transition: 0.2s;
        }
        &:hover {
            img {
                transform: rotate(90deg);
            }
        }
    }
    &__title {
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        a {
            color: #0DB14B;
        }
    }
    &__button {
        background: #51AD56;
        border-radius: 3px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 170px;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        color: #FFFFFF;
        transition: 0.2s;
        margin-top: 20px;
        cursor: pointer;
        &:hover {        
            background: #4ba04f;
        }
    }
}

.m-cookie-2 {
    position: fixed;
    bottom: 0;
    left: 50%;
    background: rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    max-width: 500px;
    @media screen and (max-width: 1023px) {
        left: 0;
        
    }
    &__close {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 14px;
        img {
            transition: 0.2s;
        }
        &:hover {
            img {
                transform: rotate(90deg);
            }
        }
    }
    &__title {
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        color: #FFFFFF;
        
    }
    &__button {
        background: #F77D0C;
        border-radius: 3px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 170px;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        color: #FFFFFF;
        transition: 0.2s;
        margin-top: 15px;
        cursor: pointer;
        &:hover {        
            background: #d66f0f;
        }
    }
}